.navigation-button{
    height: 100%;
    border-radius: 10px 10px 0 0;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    background: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.navigation-button:hover{
    background-color: RGBA(34,119,65,0.05);
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid RGBA(34,119,65,0.5);
    color: RGBA(68,173,106, 0.8);
}

.navigation-button:active{
    background: RGBA(34,119,65,0.1);
    border-bottom: 2px solid RGBA(34,119,65,1);
    color: RGBA(34,119,65,1);
}