.logo{
    display: flex;
    align-items: center;
    width: 20%;
}

.logo_text{
    text-align: center;
    font-family: GetSchwifty, serif;
    color: RGB(73,149,115);
    font-size: 32px;
    white-space: nowrap;
}

.logo_img{
    width: 100px;
    margin: 5px;
}